@import "variables";

.contact {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $primaryFont;
  color: $primaryColor;
}
