.contact-container {
  max-width: 100rem;
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Oregano";
  color: #ebebeb;
  width: 80vw;
  min-height: 30rem;
  margin: auto auto 10rem auto;
  padding: 3rem;
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4); }

.contact-title {
  margin: auto 0;
  width: 30%;
  font-size: 5rem; }

.contact-body {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 3rem; }
  .contact-body a {
    color: #ebebeb; }
  .contact-body a svg {
    font-size: 4.5rem;
    margin: 0.3rem; }
  .contact-body a span {
    margin: 0.5rem; }
  .contact-body a span:hover {
    margin: 0.5rem; }
