@import "variables";

.home {
  position: static;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__name {
  color: $primaryColor;
  font-size: 11rem;
  margin-bottom: 3rem;
  font-family: $primaryFont;
}


.home__mini-description {
  color: $primaryColor;
  font-size: 6rem;
  margin-bottom: 5rem;
  font-family: $secondaryFont;
}

.social-bar__linkedin {
  padding: 0.3rem 2rem;
  font-size: 6rem;
  color: $primaryColor;
  cursor: pointer;
}

.social-bar__github {
  margin: 0.3rem 2rem;
  font-size: 6rem;
  color: $primaryColor;
  cursor: pointer;
}
