.home {
  position: static;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem; }

.home__name {
  color: #ebebeb;
  font-size: 11rem;
  margin-bottom: 3rem;
  font-family: "Oregano"; }

.home__mini-description {
  color: #ebebeb;
  font-size: 6rem;
  margin-bottom: 5rem;
  font-family: "Delius"; }

.social-bar__linkedin {
  padding: 0.3rem 2rem;
  font-size: 6rem;
  color: #ebebeb;
  cursor: pointer; }

.social-bar__github {
  margin: 0.3rem 2rem;
  font-size: 6rem;
  color: #ebebeb;
  cursor: pointer; }
