@import "variables";

.landing-header {
    overflow: hidden;
    position: static;
    width: 100%;
  }

.header-nav-container-inner {
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      font-family: $primaryFont;
      text-decoration: none;
      cursor: pointer;
      margin: 0 3rem 3rem 0;
      font-size: 6rem;
      color: $primaryColor;
    }
  }

.header-nav-container__contact {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 0.2rem solid #FFFFFF;
    font-family: $primaryFont;
    text-decoration: none;
    cursor: pointer;
    margin: 0 2rem;
    font-size: 30px;
    color: $primaryColor;
}
