.contact {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oregano";
  color: #ebebeb; }

.landing-header {
  overflow: hidden;
  position: static;
  width: 100%; }

.header-nav-container-inner {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .header-nav-container-inner a {
    font-family: "Oregano";
    text-decoration: none;
    cursor: pointer;
    margin: 0 3rem 3rem 0;
    font-size: 6rem;
    color: #ebebeb; }

.header-nav-container__contact {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 0.2rem solid #FFFFFF;
  font-family: "Oregano";
  text-decoration: none;
  cursor: pointer;
  margin: 0 2rem;
  font-size: 30px;
  color: #ebebeb; }

html {
  font-size: 10px; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1508744849519-f8bb961fdb2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ce55dc5fbc8aaaff866ca9d1940f683&auto=format&fit=crop&w=1268&q=80) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  margin: 0;
  padding: 0; }

@media (max-width: 768px) {
  html {
    font-size: 6px; } }

.home {
  position: static;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home__name {
  color: #ebebeb;
  font-size: 11rem;
  margin-bottom: 3rem;
  font-family: "Oregano"; }

.home__mini-description {
  color: #ebebeb;
  font-size: 6rem;
  margin-bottom: 5rem;
  font-family: "Libre Baskerville"; }

.social-bar__linkedin {
  padding: 0.3rem 2rem;
  font-size: 6rem;
  color: #ebebeb;
  cursor: pointer; }

.social-bar__github {
  margin: 0.3rem 2rem;
  font-size: 6rem;
  color: #ebebeb;
  cursor: pointer; }

.about {
  position: static;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 30rem;
  margin: auto auto 10rem auto;
  padding: 10rem;
  border-radius: 2.5rem; }

.about-2 {
  min-width: 20%;
  font-family: "Libre Baskerville";
  color: #e1e1e1;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.7rem; }

.about-pic__img {
  border-radius: 100%;
  max-width: 18rem;
  max-height: 18rem; }

.about-paragraph {
  font-family: "Libre Baskerville";
  color: #e1e1e1;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 2rem 2rem; }

@media (max-width: 768px) {
  .about {
    flex-wrap: wrap;
    padding: 1rem; }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem; } }
