.about {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  height: 40vh;
  margin: auto;
  margin-bottom: 10%;
  min-height: 564px;
  border-radius: 25px;
  font-family: "Oregano"; }

.about-2 {
  min-width: 15%;
  color: white;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about-3 {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px; }

.about-pic__img {
  border-radius: 100%;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px; }

.about-title__title {
  font-size: 25px; }

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oregano";
  min-height: 564px;
  color: white; }

.landing-header {
  overflow: hidden;
  position: relative;
  width: 100%; }

.header-nav-container-inner {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .header-nav-container-inner a {
    font-family: "Oregano";
    text-decoration: none;
    cursor: pointer;
    margin: 0 2%;
    font-size: 30px;
    color: white; }

.header-nav-container__contact {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #FFFFFF;
  font-family: "Oregano";
  text-decoration: none;
  cursor: pointer;
  margin: 0 2%;
  font-size: 30px;
  color: white; }

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1508744849519-f8bb961fdb2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ce55dc5fbc8aaaff866ca9d1940f683&auto=format&fit=crop&w=1268&q=80) no-repeat center center fixed;
  background-size: cover;
  margin: 0; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1508744849519-f8bb961fdb2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ce55dc5fbc8aaaff866ca9d1940f683&auto=format&fit=crop&w=1268&q=80) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  margin: 0;
  padding: 0; }

.home {
  position: relative;
  min-height: 564px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.home__name {
  color: white;
  font-size: 100px;
  margin-bottom: 20px;
  font-family: 'Oregano'; }

.home__mini-description {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Oregano'; }

.social-bar__linkedin {
  padding: 3px 20px;
  font-size: 45px;
  color: white;
  cursor: pointer; }

.social-bar__github {
  margin: 3px 20px;
  font-size: 45px;
  color: white;
  cursor: pointer; }

.about {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  height: 40vh;
  margin: auto;
  margin-bottom: 10%;
  min-height: 564px;
  border-radius: 25px;
  font-family: "Oregano"; }

.about-2 {
  min-width: 15%;
  color: white;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about-3 {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px; }

.about-pic__img {
  border-radius: 100%;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px; }

.about-title__title {
  font-size: 25px; }
